.header{
  width:100%;
  background-color: #131415;
  color:#fff;
}
.header--logo, .nav__item,.contacts{
  display:inline-block;
}
.logoletter{
font-family: 'gora_freeregular';
font-size: 18px;
letter-spacing: 1.8px;
color: #f89513;
}
.nav__link{
font-size: 12px;
display:inline-block;
color:#fff;
font-weight:700;
letter-spacing: 1.2px;
margin-right:30px;
margin-left:30px;
}
.nav__item{
padding-right:35px;
}
.header--logo{
  width:25%;
  vertical-align:middle;
}
ul.nav{
  width:45%;
 display:inline-block;
}
 .contacts{
  width:25%;
  position:relative;
  margin-top:15px;
 margin-bottom:5px;
}