.header {
  width: 100%;
  background-color: #131415;
  margin-bottom: 30px;
  padding: 16px 0;
}

.nav__list {
  margin-top: 10px;
}

.logo {
  float: left;
  width: 30%;
  margin-top: 10px;
}

.logoletter {
  font-family: 'gora_freeregular';
  font-size: 18px;
  letter-spacing: 1.8px;
  color: #f89513;
  /*margin-left:19px*/
}

/*NAV*/
.nav__list {
  float: left;
  width: 37%;
  text-align: center;
}

.nav__item {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  font-family: 'open_sansbold';
  font-size: 12px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1.2px;
  display: inline-block;
  vertical-align: middle;
  background-size: contain;
  transition: 0.3s;
}

.nav__link:before {
  content: '';
  background-position: center center;
  height: 15px;
  margin-right: 15px;
  display: inline-block;
  width: 19px;
}

.nav__link-main {
  background-image: url(../images/news/puls.png);
  background-repeat: no-repeat;
}

.nav__link-review {
  background-image: url(../images/news/stars.png);
  background-repeat: no-repeat;
}

.nav__link-price {
  background-image: url(../images/news/gant.png);
  background-repeat: no-repeat;
}

.nav__link-main:hover,
.nav__link--active-main {
  background-image: url(../images/news/puls_hov.png);
  background-repeat: no-repeat;
}

.nav__link-review:hover,
.nav__link--active-review {
  background-image: url(../images/news/star_hov.png);
  background-repeat: no-repeat;
}

.nav__link-price:hover,
.nav__link--active-price {
  background-image: url(../images/news/);
  background-repeat: no-repeat;
}

.nav__link {
  color: #fff;
}

.nav__link:hover {
  color: #f89513;
}

.nav__link--active-main {
  color: #f89513;
}

/*contacts*/
.contacts {
  float: right;
  width: 31%;
  text-align: right;
}

.contacts__call {
  font-size: 21px;
  font-family: 'open_sansbold';
  color: #fff;
  display: block;
  margin-bottom: 5px;
}

.contacts__trigger,
.contacts__trigger:hover {
  font-size: 14px;
  color: rgba(248, 149, 19, 0.7);
  text-decoration: underline;
  font-family: 'open_sansbold';
  transition: all 0.2s;
}


/*PROMO*/
.promo .container {
  padding-top: 75px;
  padding-bottom: 15px;
}

.promo__image {
  width: 740px;
  height: 486px;
  background: url("../images/intro/ranner.png") center center no-repeat;
  background-size: contain;
  margin: 0 auto;
}

/*FEAUTURES*/
.features {
  background-color: #131415;
  color: #fff;
  height: 570px;
  text-align: center;
}

.title__section {
  font-family: 'open_sansbold';
  font-size: 49px;
  font-weight: 900;
  letter-spacing: 1.5;
  line-height: 3.6;
  margin-left: 12px;
  margin-bottom: 0;
}

.features__col,
.features__list {
  margin: 0;
  padding: 0;
}

.features__col {
  margin: 0 auto;
  margin-left: 170px;
}

.features__col-list,
.features__col-list-center {
  width: 220px;
  float: left;
}

.features__col-list {
  padding-right: 50px;
}

.features__col-list-center {
  padding-left: 10px;
}

.features__image {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  margin: 0 auto;
}

.features__image-unique {
  background: url('../images/news/flower.png')center no-repeat;
  background-color: #f89513;
}

.feautures__image-premium {
  background: url('../images/news/mark-as-favorite-star.png')center no-repeat;
  background-color: #f89513;
}

.feautures__image-trainer {
  background: url('../images/news/painter-palette.png')center no-repeat;
  background-color: #f89513;
}

h3.features__title--uppercase {
  margin-top: 40px;
  font-weight: 800;
  font-size: 11px;
  line-height: 5;
  letter-spacing: 2.7;
  margin-left: 6px;
  text-transform: uppercase;
}

.features__desc {
  font-size: 18px;
  margin-top: 15;
  margin-bottom: 26px;
  text-decoration: none;
}

span.features__desc {
  display: block;
  padding-top: 9px;
}

.features__list {
  list-style: disc;
  margin-left: 40px;
}

.features__item {
  font-size: 16px;
  text-align: left;
  line-height: 2.2;
  letter-spacing: 1.3px;
  text-align: left;
  padding-left: 10px;
  list-style: disc;
  padding-bottom: 10px;
}

/*NEWS*/
.section__title_black {
  font-family: 'open_sansbold';
  color: #221f1f;
  text-transform: uppercase;
  line-height: 0.78;
  text-align: center;
  font-size: 49px;
  font-weight: bold;
  padding: 30px 0;
  letter-spacing: 2.6px;
}

.news__list {
  display: inline-block;
  padding-left: 0;
  margin-top: 2px;
  margin-left: 2px;
}

.news__list-item:not(:last-child) {
  border-bottom: 2px solid #f5f5f5;
  margin-bottom: 30px;
  padding-bottom: 33px;
}

.new__list-item:last-child {
  padding-top: 33px;
}

.news__item-wrap {
  display: inline-block;
}

.news__item-wrap-image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-size: cover;
  overflow: hidden;
  margin-left: 20px;
}

.news__content {
  width: 650px;
  padding-left: 15px;
  display: inline-block;
}

.news__content-date {
  color: #656464;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 400;
  line-height: 1px;
}

.news__content-title {
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 700;
  color: #221f1f;
  letter-spacing: 1.17px;
}

.news__content-text {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 300;
  color: #656464;
  line-height: 1.6;
  text-align: left;
  margin-top: 16px;
  margin-bottom: 20px;
}

/*SIDEBAR*/
.sidebar {
  width: 190px;
  float: right;
}

.sidebar__title,
.sidebar__month {
  font-family: 'open_sansbold';
  font-size: 12px;
  line-height: 21px;
  text-align: left;
  margin-left: 15px;
}

.sidebar__title {
  color: #221f1f;
  margin-bottom: 9px;
}

.sidebar__month {
  color: #656464;
  margin-bottom: 22px;
}

.sidebar__image {
  width: 160px;
  text-align: center;
  margin-left: 15px;
  margin-bottom: 20px;
}

/*PAGINATOR*/
.paginator {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  color: #656464;
  text-align: center;
  margin-top:20px;
}

.paginator__block {
  display: inline-block;
  margin-right: 20px;

}

.paginator__btn--left {
  color: rgba(39, 39, 62, 0.3);

}

.paginator__item,
.paginator__btn,
.paginator__list {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}


.paginator__link {
  font-size: 14px;
  color: #656464;
  background-color:transparent;
  border-radius: 3px;
  padding: 6px;
}

.paginator__link-active {
  background-color: #27273e;
  border-radius: 3px;
  padding: 6px;
  color: #fff;
}

/* FOOTER*/
.footer {
  position: relative;
  background: #131415;
  min-width: 1100px;
  overflow: hidden;
  padding-bottom: 10px;

}

.footer-logo {
  width: 30%;
  float: left;
  text-align: center;
  margin-left: 50px;
  padding-top: 27px;
}

.copy {
  font-weight: 300;
  color: #ffffff;
  float: left;
  width: 30%;
  padding: 11px 0 0 20px;
  line-height: 1.3;
  font-family: 'open_sanslight';
  font-size: 14px;
}

.copy__loft .copy__author {
  font-family: 'open_sansbold';
}

.copy__loft {
  color: white;
  font-family: 'open_sansbold';
  border-bottom: 1px solid white;
}

.socials {
  width: 30%;

  display: inline-block;
  padding-top: 15px;
}

.socials,
.socials__list {
  display: inline-block;
  font-size: 14px;
  text-align: right;
}

.socials__list {
  width: 300px;
}

.socials__item {
  margin-left: 10px;
  display: inline-block;
}

.socials__item:first-child {
  margin-left: 0;
}

.socials__title {
  margin-bottom: 12px;
  font-weight: bold;
}

.socials__link {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .7);
  display: block;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
}

.socials__link_vk {
  background-image: url('../images/social/vk.png');

}

.socials__link_fb {
  background-image: url('../images/social/fb.png');

}

.socials__link_google {
  background-image: url('../images/social/goo.png');

}

.socials__link_tw {
  background-image: url('../images/social/tw.png');

}

.socials__link_mail {
  background-image: url('../images/social/mail.png');

}