.header{
  width:100%;
  background-color: #131415;
}
.header--logo, .nav__item, .contacts, 
.nav__link,ul.nav, .contacts{
  display:inline-block;
}
.logoletter{
font-family: 'gora_freeregular';
font-size: 18px;
letter-spacing: 1.8px;
color: #f89513;
}
.nav__link{
font-size: 12px;
color:#fff;
font-weight:700;
letter-spacing: 1.2px;
margin:30px; /*?*/

}
.nav__item{
padding-right:35px; /*?*/
}
.header--logo{
  width:25%;
  vertical-align:middle;
}
ul .nav{
  width:45%;
}
/*contacts*/
.contacts {
  vertical-align: middle;
  font-family: 'open_sansblight';
  color:black;
  text-align:right;
  width:25%;
  position:relative;
  margin-top:10px;
  margin-bottom:5px;

}
.contacts__call{
  font-size:21px;
  font-weight:bold;
  color:white;
}
 .contacts:hover .contacts__dropdown-wrap {
  display: block;
  color:black;
 }
.contacts__dropdown-item{
  margin-bottom:10px;
}
.contacts__trigger,
.contacts__trigger:hover {
  font-size: 14px;
  line-height: 26px;
  color: rgba(248, 149, 19, 0.7);
  text-decoration:underline;
  margin-top:3px;
  font-family:'open_sansbold';
  transition: all 0.2s;
}
/*DROPDOWN*/
.contacts__dropdown-wrap{
  position: absolute;
  top: 60px;
  right:30%;
  display: none;
}
.contacts__dropdown {
  position: absolute;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  background: #fff;
  padding: 10px;
  min-width: 150px;
  box-shadow: 0 0 7px #bebebe;
 transform: translate(-50%, 0);
  z-index: 10;
}
.contacts__dropdown:before,
.contacts__dropdown:after {
  content: "";
  border: solid transparent;
  width: 0px;
  margin-left: 0px;
  left: 85%;
  transform: transtlate(-50%);
  position: absolute;
}
.contacts__dropdown:before {
  border-bottom-color: #bebebe;
  border-width: 0px 6px 11px 6px;
  top: -11px;
  }
.contacts__dropdown:after {
  border-bottom-color: #fff;
  top: -10px;
  border-width: 0px 6px 10px 6px;
}
.nav__link.nav__link{
  text-transform:uppercase;
}
/*
.nav__link.nav__link--home{
  background-image:url(../images/news/puls.png);
  height:12px;
  width:12px; 
 
}
*/
/*MAIN*/
.promo .container{
  padding-top:75px;
  padding-bottom:15px;
}
.promo__image{
width:740px;
/*height:486px;*/
margin:0 auto;
background-size:cover;
overflow:hidden;
}
