
.benefits{
  width: 100%;
  min-height: 170px;
  background-color: #131415;
  background-image: url(../../images/pattern/pattern.png);
display:block;
margin-bottom:60px;
}
.benefits__desc{
  color: #fff;
  text-align: left;
  line-height: 1.67;
  width:80%;
  margin:0 auto;
  padding:19px 4px;
}
.benefits--text{
  color: #f89513;
font-weight:bold;
}

