.partners__list {
  width: 740px;
  margin: 0 auto;
  margin-bottom: 43px;
}

.partners__item {
  display: inline-block;
  width: 180px;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 30px;
  margin-right: 90px;
  padding-top: 15px;

}

.partners__item:nth-child(3n) {
  margin-right: 0;
}

.partners__link {
  filter: grayscale(100%) opacity(52%);
  transition: 1s;
}

.partners__link:hover {
  filter: grayscale(0%) opacity(100%);
  transition: 1s;
}