
.news__container--left {
  padding: 10px 0;
}

.title__section--left {
  line-height: 0.78;
  letter-spacing: 2.5px;
  text-align: left;
  color: #221f1f;
  overflow: hidden;
  margin-bottom: 40px;
}

.news__ava--left {
  vertical-align: top;
  margin-right:15px;
}
.news__content--left{
 
  font-family: 'open_sanslight';
  font-weight: 700;
  color: #656464;
}
.news__occ{
  font-family: 'open_sansbold';
  font-size:18px;
  color:#221f1f;


}

.news__content--left {
  width: 680px;
  display: inline-block;
}

.news__item-wrap--left {
  padding: 2px 4px;
}

.news__list--left {
  margin-bottom: 0;
  
}
