
.socials {
  display: inline-block;
  text-align: left;
}

.socials__title {
  margin-bottom: 8px;
  font-weight: 800;
}

.socials__item {
  display: inline-block;
  margin-right: 8px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
}

.socials__link:hover {
  background-color: #f89513;
  transition: 0.5s;
}

.socials__link--vk {
  
  background: url('../../images/sprites/sprite_all.png') 83px 46px;
  background-color: #d0d0d0;
}

.socials__link--fb {
  background: url('../../images/sprites/sprite_all.png') -82px 43px;
  background-color: #d0d0d0;
}

.socials__link--goo {
  background: url('../../images/sprites/sprite_all.png') 19px 45px;
  background-color: #d0d0d0;
}

.socials__link--tw {
 background: url('../../images/sprites/sprite_all.png') 40px 45px;
  background-color: #d0d0d0;
}

.socials__link--mail {
  background: url('../../images/sprites/sprite_all.png') 62px 45px;
  background-color: #d0d0d0;
}